body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:16px;
    top:10px;
    width:1440px;
    height:1640px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1440px;
    height:1640px;
}

.u1 {
    position:absolute;
    left:2px;
    top:812px;
    width:1436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:16px;
    top:10px;
    width:1440px;
    height:1640px
}

.u3 {
    position:absolute;
    left:10px;
    top:20px;
    width:930px;
    height:1026px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:10px;
    top:10px;
    width:930px;
    height:456px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:10px;
    top:11px;
    width:930px;
    height:266px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:160px;
    top:65px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:407px;
    top:65px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:693px;
    top:65px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:10px;
    top:10px;
    width:930px;
    height:741px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:340px;
    top:50px;
    width:600px;
    height:114px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_original {
    background-image: url('../页面_1_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:30px;
    top:50px;
    width:300px;
    height:210px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:216px;
}

.u12 {
    position:absolute;
    left:2px;
    top:96px;
    width:296px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:30px;
    top:50px;
    width:300px;
    height:210px
}

.u13 {
    position:absolute;
    left:430px;
    top:210px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:630px;
    top:210px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:10px;
    top:11px;
    width:930px;
    height:931px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_container {
    position:absolute;
    left:134px;
    top:132px;
    width:236px;
    height:50px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:236px;
    height:50px;
}

.u17 {
    position:absolute;
    left:2px;
    top:17px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:134px;
    top:132px;
    width:236px;
    height:50px
}

.u18_text {
    position:absolute;
    left:200px;
    top:274px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:200px;
    top:274px;
    width:150px;
    height:32px
}

.u19_text {
    position:absolute;
    left:200px;
    top:348px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:200px;
    top:348px;
    width:150px;
    height:32px
}

.u20_text {
    position:absolute;
    left:200px;
    top:420px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:200px;
    top:420px;
    width:150px;
    height:32px
}

.u21_text {
    position:absolute;
    left:178px;
    top:488px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:178px;
    top:488px;
    width:150px;
    height:32px
}

.u22_text {
    position:absolute;
    left:187px;
    top:210px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:187px;
    top:210px;
    width:150px;
    height:32px
}

