div
{  
    display: block;  
} 

html, body 
{
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei";
	background: #F8F8F8;
	font-size: 12px;
	
}
ul,li
{
	list-style:none;
}
a
{
	text-decoration:none;
	color:#000;
}
*:focus
{
	outline:none;
}
.clear
{
	clear:both;
}
.container
{
	width:650px;
	margin:0 auto;
	height:220px;
	vertical-align: middle;
	margin-top:50px;
}
.container .content
{
	width:480px;
	margin:0 auto;
	height:80px;
}
.container .content span.check
{
	font-size:12px;
	color:#dd4b39;
	margin-left:80px;
	font-weight: bold;
}
.container .content span.mess
{
	font-size:14px;
	float: right;
}
.container .content input
{
	width:200px;
	height:25px;
	border:1px solid #ccc;
}
.h2
{
	vertical-align:middle;
	color:red;
}
.h3
{
	display: inline-block;
	_zoom:1;
	_display:inline;
	width:80px;
}
.container .content span.prop
{
	font-size:12px;
	color:#dd4b39;
	font-weight:900;
}
.content button
{
	font-size: 16px;
	margin-top:30px;
	width: 160px;
	margin:0 auto;
	height: 30px;
	color: #ffffff;
	background-color: #f90;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid #cccccc;
	letter-spacing: 1px;
	cursor: pointer;
	text-align: center;
}
input:focus
{
	border-color: #51a7e8;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),
	0 0 5px rgba(81,167,232,0.5);
}